@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

body {
    margin: 0;
    font-family: 'Ibarra Real Nova', serif;
    /* background: "/images/bg.jpg"; */
}


nav {
    background-color: yellow;
    text-align: center;
    /* display: block;
    margin: 0; */
}

textarea {
    width: 80%;
    display: block;
    margin: 01rem;
    height: 15vh;
    padding: .1rem;
    font-size: large;
    font-family: inherit;
    margin-left: auto;
    margin-right: auto;
}

.container {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem;
    color: purple;
}



.btn {
    text-align: center;
}

button {
    background-color: yellow;
    color: purple;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    /* border: none; */
    border-width: 0.01rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: yellow;
    text-align: center;
}
footer p {
    max-width: 800px;
    margin: auto;
}

.out {
    /* margin: 1rem; */
    margin-left: 9%;
    margin-right: 63%;
    font-size: larger;
    text-align: center;
    background-color: lightblue;
}

#output {
    width: 81%;
    border: 1px solid black;
    margin: 0.5rem;
    height: 15vh;
    position: absolute;
    padding: .1rem;
    overflow: scroll;
    background-color: white;
    margin-left: 9%;
    margin-right: auto;
}
 
    